<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>E-mail</th>
                <th>Nome</th>
                <th>Senha</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="usuario: ${usuarios}">
                <td th:text="${usuario.email}"></td>
                <td th:text="${usuario.nome}"></td>
                <td th:text="${usuario.senha}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>